body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-size: 400px;
}
h2 {
  color: grey;
  margin-left: 10px;
  font-size:30px;
}
p {
  color: red;
  margin-left: 5px;
  font-size: 15px;
  font-family: cursive
}
